<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="by.bsu.fpmi.pasevina.listenit.models.User"/>
        <mapping class="by.bsu.fpmi.pasevina.listenit.models.UserRole"/>
        <mapping class="by.bsu.fpmi.pasevina.listenit.models.Audio"/>
        <mapping class="by.bsu.fpmi.pasevina.listenit.models.AudioComment"/>
        <mapping class="by.bsu.fpmi.pasevina.listenit.models.Like"/>
    </session-factory>
</hibernate-configuration>