body {
    background-color: black!important;
}

.navbar {
    margin-bottom: 0px;
    color: whitesmoke;
    background-color: black;
}

.navbar-fixed-bottom {
    margin-top: 10%;
}

.navbar-brand{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.btn {
    background-color: darkred;
    color: whitesmoke;
    box-shadow: 1px 2px 5px #000000;
    border: none;
}

.btn:hover {
    background-color: brown;
}

img {
    width: 100%;
    height: auto;
}